header{
    width: 100%;
}

.btn-dark{
    justify-content: center;
    margin: 10px;
    justify-content: center;
    display: inline-block;
}

.main-container{
    background: white;
    padding: 50px;
}

.board{
    text-align: center;
}

.timer{
    float: right;
    text-align: right;
    align-content: right;
}