header{
    width: 100%;
}

body{
    background-color:#007bff;
}

/* position abolute to keep it fixed-- need start button, info box, and quiz box absolute */
.start-btn,
.info-box,
.quiz-box,
.results-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* added starting my JS */
.info-box.activeInfo,
.info-box.activeQuiz{
    
}

/* Start button styling */
.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: blue;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}


.info-box{
    width: 550px;
    background:#fff;
    border-radius: 5px;
}

.info-box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .rules-list{
    padding: 15px 35px;
}

.info-box .rules-list .rules{
    margin: 5px 0;
    font-size: 17px;
}

.info-box .rules-list .rules span{
    font-weight: 600;
    color: red;
}   

.info-box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 35px;
    border-top: 1px solid lightgray;
}
/* transparent should grey box out */
.info-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: ease;
}
.buttons button.restart{
color: #fff;
background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.exit{
    color: #007bff;
}

.buttons button.exit:hover{
    color: #fff;
    background: #007bff;
}

/* Display none hides the box until the star button is pressed- added after styling */
.quiz-box{
    display: none;
    width: 550px;
    background: #fff;
    border-radius: 5px;
}

.quiz-box header{
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;
}

/* * these properties centered my main board text */ */

.quiz-box header.timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0px 8px;
}

.quiz-box .timer .timer-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec{
    font-size: 18px;
    font-weight: 500;
    z-index: 99;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz-box section .que-text{
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .question-list{
    padding: 20px 0;
    display: block;
}

section .question-list .question{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s ease;
}

section .question-list .question:hover{
    color:#004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.question-list .question:last-child{
    margin-bottom: 0px;
}

.question-list .question .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

 /* should make my check mark that isnt appearing green and cross red */
.question-list .question .icon .tick{
    border-color: #23903c;
    color: #23903c;
    background: #d4edda;
}

.question-list .question .icon .cross{
    border-color: #a42834;
    color: #a42834;
    background: #d4edda;
}

.quiz-box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-que que span{
    display: flex;
    user-select: none;
}

footer .total-que span p{
    font-weight: 500;
    padding: 0 5px;
}

.total-que span p:first-child{
    padding-left: 0px;
}

footer .next-btn{
    height: 40px;
    padding: 0px 13 px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
}

footer .next-btn:hover{
    background: #0263ca;
}

/* code is broken, not showing and unsure why. moving to javascript */
.results-box{
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.results-box